{% extends 'layout.html' %}
{% block title %}
    Home
{% endblock %}

{% block table_name %}
    binding types
{% endblock %}

{% block content %}
    <table class="container">
        <thead>
        <tr>
            <th><h1>id</h1></th>
            <th><h1>name</h1></th>
        </tr>
        </thead>
        <tbody>
        {% for i in binding_types %}
            <tr>
                <td><input value="{{ i.id }}" type="text" class="col-value"></td>
                <td><input value="{{ i.name }}" type="text" class="col-value"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
