<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}">
    <script src="{{ url_for('static', filename='script.js' ) }}"></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<header class="topNav">
    <div class="container">
        <div class="headerNav con">
            <div class="topNavLeft">
                <a href="/">Papers</a>
                <a href="/brands">Brands</a>
                <a href="/countries">Countries</a>
                <a href="/paper_formats">Paper Formats</a>
                <a href="/paper_types">Paper Types</a>
                <a href="/binding_types">Binding Types</a>
            </div>
            <div class="topNavRight">
                <a href="/user/edit">Bohdan Shushval</a>
                <a href="/user/sign_out">Logout</a>
            </div>
        </div>
    </div>
</header>
    <h1><span class="blue"></span>Table<span class="blue"></span><span class="yellow">
        {% block table_name %}
        {% endblock %}
    </span></h1>
    <h1></h1>
{% block content %}
{% endblock %}
</body>
</html>
