{% extends 'layout.html' %}
{% block title %}
    Home
{% endblock %}
{% block table_name %}
papers
{% endblock %}

{% block content %}
    <table class="container">
        <thead>
        <tr>
            <th><h1>id</h1></th>
            <th><h1>name</h1></th>
            <th><h1>description</h1></th>
            <th><h1>pieces</h1></th>
            <th><h1>paper type</h1></th>
            <th><h1>density</h1></th>
            <th><h1>paper format</h1></th>
            <th><h1>brand</h1></th>
            <th><h1>binding type</h1></th>
            <th><h1>manufacture country</h1></th>
            <th><h1>status</h1></th>
        </tr>
        </thead>
        <tbody>
                  <h1>{{ brands }}</h1>
        {% for i in papers %}
            <tr>
                <td><input value="{{ i.id }}" type="text" class="col-value"></td>
                <td><input value="{{ i.description }}" type="text" class="col-value"></td>
                <td class="large-field"><input name="name" value="{{ i.name }}" type="text" class="col-value"></td>
                <td><input value="{{ i.pieces }}" type="text" class="col-value"></td>
                <td><input value="{{ i.paper_type }}" type="text" class="col-value"></td>
                <td><input value="{{ i.density }}" type="text" class="col-value"></td>
                <td><input value="{{ i.paper_format }}" type="text" class="col-value"></td>
                <td><input value="{{ i.brand_name }}" type="text" class="col-value"></td>
                <td><input value="{{ i.biting_type }}" type="text" class="col-value"></td>
                <td><input value="{{ i.country_name }}" type="text" class="col-value"></td>
                <td><input value="{{ i.status }}" type="text" class="col-value"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
